<div id="content">
<div id="content-inner">
<div id="registerbox">
	<div id="registerinbox">
	<h2>Subscribe</h2>
	<div class="sub-content">
	<form name="subscribe" action="/subscribe/" method="GET">
		Blog or Feed URL:
		<input type="text" name="url" size="30" value="http://"> <input type="submit" value="subscribe">
	</form>
	</div>

	<h3>Help</h3>
		<p>Please input URL of the Web site that wants to subscribe. </p>
		<p>More Easy subscribe way?<br />
			You might like the <a href="/utility/bookmarklet/">Bookmarklet</a>.
		</p>
	</div>
</div>
</div>
</div>
<script type="text/javascript">var ApiKey = "<%= session[:session_id] %>";</script>
<%= javascript_include_tag "subscribe" %>
