<div class="guide">
<h2>Quick Guide</h2>

<h3>Subscribe your favorite blogs or news</h3>
<ul>
    <li>Install <a href="../utility/bookmarklet/">browser buttons</a> to add a new subscription from your browser.</li>
    <li>Click on 'Add' icon and enter the feed URL.</li>
    <li>You can <a href="../import/">import your OPML subscription list</a> to Fastladder.</li>
</ul>

<h3>Read items</h3>
<ul>
    <li>Use <a href="#" onclick="Control.toggle_keyhelp();return false">keyboard shortcut</a> for lightning-fast readings.</li>
    <li>To read selected articles at once, use 'Pin' function to mark (hit 'P' or click <img src="/img/icon/pin.gif" alt="pin" /> on the upper-right corner of each article) and open (hit 'O' or click <img src="/img/icon/pin.gif" alt="pin" /> on the top tool bar).</li>
</ul>

<h3>Manage your subscriptions</h3>
<ul>
    <li>Categorize feeds by folders or your own ratings.</li>
    <li>Sort your feeds by variety of options (e.g. arrival time, title, rating, number of unread items or number of subscribers).</li>
</ul>

</div>
