.bundle
log
tmp
config/secret.txt
config/database.yml
config/secrets.yml
db/schema.rb
lib/*.dylib
db/*.sqlite3
public/assets
coverage
node_modules
.rbenv-gemsets
.DS_Store
db/*.sqlite3-*
mysqldata
.env*
