rvm:
- 1.9.3
- 2.0.0
branches:
  only:
    - master
before_script:
  - 'cp config/database.yml.sqlite3 config/database.yml'
script: 'RAILS_ENV=test bundle exec rake db:drop db:create db:migrate spec'
