body{
	background : #fff;
	margin : 0;
	padding : 0;
	font-family: Helvetica;
	-webkit-text-size-adjust:none;
}

h1,h2,h3{
	margin: 0;
	padding: 0;
}

form{margin:0;}
#main{clear:both}


/* tags */
pre{
	background : #eee;
	margin : 10px;
	padding : 5px;
	font-family : monospace;
	border : 1px dotted #888;
}
blockquote {
	margin : 10px;
}
h1{
	background: #c6cfd6;
	font-size : 100%;
	margin : 0;
	padding : 5px 10px;
	border-bottom : 1px solid #888;
}
h1 a{
	text-decoration:	none;
	color : #000; 
}
h2{
	padding : 5px 10px;
	margin-bottom : 10px;
	font-size : 16px;
	background : #aaccff;
}
h2 img {
	vertical-align: middle;
	margin-right : 5px;
}
h3{
	margin : 0;
	font-weight : bold;
	background : #fff;
	font-size: 100%;
}
h3 a{
	text-decoration : none;
	display : block;
}
/* classes */
.channel{
	margin : 10px;
}
.channel-info{
	margin-left : 10px;
	font-size : 90%;
}
#top_navi{
	border-bottom : 1px solid #ccc;
	background : #f5f5f5
}
#bottom_navi{
	clear : both;
	background : #f5f5f5
}
.navigation{
	background : #fff;
	padding : 0px 5px 1px 5px;
	font-size:12px
}
.navigation input{
	font-size : 12px;
	padding : 2px;
	width : 100%;
}
.navigation select {
	width: 100%;
}
.item{
	margin : 0;
	border-bottom : 1px solid #ccc;
	overflow : hidden;
}

.meta{
	display : block;
	text-align : right;
	font-size : 80%;
	padding : 0 4px 4px 0;
	color : #444;
}
.body{
	font-size: 80%;
	color: #000;
	padding : 0 10px 5px 10px;
}

/* listview mode */
.listview .body {
	display: none;
}

.unread {
	margin: 0;
	padding: 0;
}
.unread a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color : #000;
}
.unread li{
	background : #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	border-bottom : 1px solid #ccc;
	font-size: 20px;
	font-weight : bold;
}
.unread_count {
	position: absolute;
	right: 10px;
	color : red;
	
}
.noitem {
	margin : 10px;
	text-align: center;
	font-size: 20px;
}

.more , .back{
	font-size: 20px;
	font-weight: bold;
	padding : 3px;
}
.more a, .back a {
	display : block;
	text-align: center;
	text-decoration: none;
	color: #000;
	padding-bottom : 20px;
}

.navigation {
	margin-bottom : 20px;
}
.navigation select {
	font-size: 16px;
}
.navigation input {
	font-size: 20px;
}
