defaults: &defaults
  max_unread_count: 200
  default_favicon: <%= "#{Rails.root}/public/img/icon/default.png" %>
  subscribe_limit: 5000
  save_pin_limit: 100
  crawl_interval: 30
  allow_tags: <%= %w(a i u b em strong table tr td th tbody font center div pre code blockquote ins del img br p hr ul li ol dl dt dd) %>
  allow_attributes: <%= %w(src width height border alt title href color size align) %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

