<div id="content">
	<h2>Account</h2>
	<%= render :partial=>"navi" %>
	<div class="account_form">
		<h4>Export OPML</h4>
		<p>Create backup of current subscription list in OPML. Follow the link and select 'Save'.<br />
		<strong><a href="/export/opml">Export OPML</a></strong>
		</p>
		<h4>Import OPML</h4>
		<p>Import OPML subscription list to Fastladder.<br />
		<strong><a href="/import/">Import OPML</a></strong>
		</p>
	</div>
	<div class="clear"></div>
</div>
