<div id="content">
	<h2>Account</h2>
	<%= render "navi" %>
	<div class="account_form">
		<h4>Export OPML</h4>
		<p>Create backup of current subscription list in OPML. Follow the link and select 'Save'.<br />
		<strong><%= link_to "Export OPML", export_path %></strong>
		</p>
		<h4>Import OPML</h4>
		<p>Import OPML subscription list to Fastladder.<br />
		<strong><%= link_to "Import OPML", import_path %></strong>
		</p>
	</div>
	<div class="clear"></div>
</div>
