/* Reset Base sytle */
*{
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	text-align: center;
}

.clearfix:after{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix{
	zoom:1;
}

#container{
}


#content{
	text-align: left;
	font-family: Arial, sans-serif;
}
#content p{
	margin-left : 15px;
}
#content .sub-content{
	margin-left : 15px;
}

.members form, .sessions form {
	margin : 30px;
}
.members dd, .sessions dd {
	padding-bottom : 10px;
}
.members .submit input, .sessions .submit input {
	margin : 10px 0;
	padding: 0 20px;
	font-size: 1.2em;
}
.members dl input, .sessions dl input {
	font-size: 1.5em;
}
.members .section, .sessions .section {
	margin : 20px 30px;
}



/* account */
.account #content{
	height : 1px;
}
.account_navi {
	float: left;
	width : 170px;
	height : 350px;
	margin-right : 10px;
	border-right: 1px solid #a3c4e5;
}
.account_navi li{
	margin-left : 10px;
	padding : 0 0 10px 10px;
	list-style: none;
	line-height: 100%;
}
.account_navi li a{
	display: block;
	font-size: 90%;
	padding : 5px 10px;
	color : #000;
	line-height: 100%;
	text-decoration: none;
	background: #a3c4e3;
	margin-left: 10px;
}
.account_navi a.selected{
	background: #2f6d92;
	margin-left: 0px;
	font-weight: bold;
	color : white;
}
.account dt{
	margin-top : 20px;
}
.account dd{
	font-size: 1.3em;
}
.account dl{
	margin-bottom: 20px;
}
.account label{
	float : left;
 	width : 200px;
 	color : #996400;
 	display: block;
	font-size : 1.3em;
}

.account_form{
	margin-left:  180px;
	padding-left : 20px;
	font-size: 90%;
}
#content .account_form p{
	margin : 5px;
}

.account dl input{
	width: 300px;
	font-size: 100%;
	padding: 2px;
	border : 1px solid #aab6bf;

}
.account .submit_button{
	width: auto;
	font-size: 130%;
}


/* regsiter */
#content.register {
	font-family: Helvetica, Arial, sans-serif;
	margin : 15px 20px 0 20px;
}
.register table {
	margin-left: 0px;
}
.register h1{
	margin : 20px;
	font-weight: normal;
}
.register p {
	margin : 0 22px;
}
.register label{
 	color : #996400;
	font-size : 1.3em;
}
.register th{
	width : 200px;
}
.register td{
	padding : 5px;
}
.register td {
	width: 330px;
}
.register td.check{
	width : 25px;
	padding-left: 35px;
}


.register td input {
	width : 300px;
	font-size: 1em;
	padding: 2px;
	border : 1px solid #aab6bf;
	
}
.register th{
	text-align: right;
}

.register .fieldWithErrors {
	float: left;
	border : 2px solid #000;
	border-color : red !important;
}
.register td.check .fieldWithErrors{
	border : none;
}
.register td.agreement{
	width : auto;
}

.register #interim_agreement{
	border: none;
	width : 1.5em;
	height : 1.5em;
}
.register legend{
	font-size: 1.5em;
	display: none;
}
.register #captcha_img{
}
.register .submit{
	margin-left: 50px;
	margin-bottom : 20px;
	font-size : 1.5em;
	width : 200px;
}
#errorExplanation h2{
	border: none;
}
#errorExplanation{
	color : red;
	margin: 20px;
}
#errorExplanation ul{
	margin: 0 40px;
}
#note_of_user_id {
	color : red;
	line-height: 1;
}
/* confirm */
.register dl {
	margin-left: 20px;
}
.register input{

}
.register dt{
	width : 150px;
	float : left;
	clear : left;
}
.register dd{
	font-weight: bold;
}
.register .buttons{
	margin: 20px;
}
.register .buttons input{
	width: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.register em{
	font-weight: bold;
	color: red;
}
.register ol{
	margin : 10px 40px;
	line-height : 1.5;
}


/* top */

body.top{
	background-color : #fff;
}


/*  common class */

.clear{
	clear : both;
}


.top #container{
	height: 100%;
}

.top #content{
	width : 900px;
	margin : 0 auto;
	text-align : left;
	background-color: transparent;
	background-image: url("/img/img_main.jpg");
	background-position: 240px 0;
	background-repeat: no-repeat;
}
.top p{
	margin-top: 20px;
	margin-left: 20px;
	line-height: 1.7;
	margin-bottom : 20px;
}


.top ul{
	font-size : 20px;
	list-style : none;
	margin : 20px;
}

.top li{
	margin-top : 10px;
}

.main_logo{
	height: 34px;
	padding-top : 80px;
	margin: 0px 20px 20px 20px;
}
.main_logo h1{
	height : 40px;
	background-image: url("/img/logo.gif");
	background-repeat: no-repeat;
	letter-spacing: -1000em;
	text-indent: -100em;
}


.top .login_form{
	width: 508px;
	height: 268px;
	margin: 20px;
	background-image: url("/img/bg_form.gif");
	font-family: sans-serif;
	background-color: #e5eef7;
}

fieldset{
	padding: 20px;
	border: none;
}
.login_form dt{
	margin : 5px 0 3px 0;
}
.login_form label{
	color : #996400;
	font-size : 1.3em;
}
.login_form dl input{
	font-size: 1em;
	padding : 2px 10px;
	line-height : 1;
	border: solid 1px #abb8c7;
	width : 450px;
}

.login_form .submit input {
	margin: 5px 0 0 0;
	font-size: 1em;
	width : 100px;
	height: auto !important;
	float: left;
}

.login_form .submit_openid input {
	margin: 5px 0 0 0;
	font-size: 1em;
	height: auto !important;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

.login_form .forgot_password{
	float : left;
	display: block;
	text-align : right;
	margin: 0 0 0 20px;
	line-height : 1.5;
	font-size: 16px;
	vertical-align: middle;
	padding : 5px 0 0 0;
	color: #3168cb;
}


/* reset password  */
.reset input{
	margin-left : 40px;
	margin-bottom : 10px;
	font-size: 120%;
	width : 100px;
}



/* login */
.login .login_form{
	margin: 20px;
	font-family: sans-serif;
}
.login_form td{
	width : 150px;
}
.login_form h2{
	margin-top : 10px;
	padding : 0;
}
.login_form table input{
	font-size: 12px;
	padding : 2px 10px;
	line-height : 1;
	border: solid 1px #abb8c7;
	width : 300px;
}

.sign_up{
	width: 508px;
	height: 70px;
	border : 0px solid #000;
	margin-bottom : 20px;
	letter-spacing: -1000em;
}
.sign_up a{
	display: block;
	height: 70px;
	width: 508px;
	background-image: url("/img/btn_signup.gif");
	text-indent: -1000em;
	letter-spacing: -1000em;
}

.signin fieldset{
	padding: 10px 20px 0 20px;
	margin : 0;
}
.signin {
	margin : 0;
}

/* openid */
.openid_login {
	clear: left;
	display: block;
	margin : 0px 20px 0 20px;
	padding-top: 10px;
}

.openid_login dl input, #openid{
  font-size: 16px;
	height: 24px;
	line-height: 1.5;
	padding : 0px 0 0px 26px;
  background-color: #fff;
  background-image: url("/img/openid-login.gif");
  background-repeat: no-repeat;
  background-position: 4px 50%;
}

.account_form #openid{
	border: solid 1px #abb8c7;
	width : 200px;
}
.account_form .submit input{
	font-size: 1em;
	width : 100px;
	height: 24px;
}

.account_form h3{
	color: #000;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.account_form .sub-content {
	margin : 0 0 20px 0;
}

.openid_url {
	margin-left : 4px;
	font-family: monospace;
}

/* signup with openid */
.signup_with_openid th{
	width: 100px;
	text-align: right;
	line-height: 2;
	font-size: 1.5em;
	font-weight: normal;
	padding-right: 10px;
	color : #996400;
	font-size : 1.3em;
}
.signup_with_openid td input{
	width : 300px;
	height: 24px;
	font-size: 16px;
	padding : 2px 10px;
	line-height : 1;
	border: solid 1px #abb8c7;
}
.signup_with_openid .check {
	margin: 20px 25px;
}
.signup_with_openid .check input {
	width: 1.5em;
	height: 1.5em;
	margin-right: 10px;
}
.signup_with_openid .submit {
	margin-left: 20px;
}
.signup_with_openid .note {
	margin-left: 20px;
	font-size: 0.8em;
}

#footer{
	margin-top: 30px;
	padding-bottom: 20px;
}
#footer li{
	display : inline;
	margin : 0 5px 0 0;
	border-left : 1px solid #000;
	padding-left : 5px;
}
#footer li:first-child{
	border : none;
}

div.navi ul{
	background-color: #fff;
}
/* feed infomation */
body.about, body.user, body.subscribe{
	background-repeat: repeat-x;
	/* font-family: Helvetica, Arial, sans-serif;*/
	font-family: Arial, sans-serif;
	font-size: 1em;
}
body {
	background-color: #fff;
	background-image: url("/img/bg.gif");
	background-position: 0 -0px;
	background-repeat: repeat-x;
}

#footer{
}
#container{
	/* background-image: url("file:///Z:/bg_main.jpg");*/

}
#content{
	margin : 15px 20px 0px 20px;
	background-repeat: no-repeat;
	background-position: 100% 0px;
	background-image:url("/img/bg_plant.jpg");
	/* background-color: #f5f5f5;*/
	background-color: #fff;
	min-height : 400px;
}


#content{
	/* background: #fff;*/
	/* border : 1px solid #000;*/
}
#content-inner{
	height : 1%;
}


.related{
	float : right;
	width : 240px;
	margin-right: 10px;
}
.related ul{
	margin-top: 10px;
}
.related li{
	font-size: 80%;
	list-style: none;
	clear: left;
}
.related img{
	float: left;
	width: 80px;
	height: 60px;
	margin-bottom: 10px;
	margin-right: 5px;
	vertical-align: top;
	border : 1px solid #888;
	border-color : #ccc #888 #888 #ccc;
}

#subscribers-count{
	font-weight : bold;
}
#avg-rate{
	font-weight : bold;
}
.subscribed{
	color : red;
}

/* Common Style  */
h2{
	font-size: 150%;
	font-weight: normal;
	font-family: Arial, sans-serif;
	margin-top : 5px;
	margin-left: 0px;
	padding: 5px 10px;
	clear: left;
}

h3{
	font-size: 120%;
	color: #976504;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin-left: 0px;
	padding: 5px 10px;
	/*background: #ebf1f8;*/
}

/* feedinfo */

.feedinfo{
	margin : 0 5px;
	font-size : 90%;
	padding : 10px 5px 0px 5px;
}

.feedinfo h3{
	margin : 0;
	padding: 0;
	font-size : 15px;
	padding-left : 27px;
	background-repeat : no-repeat;
}
.feedinfo .description{
	margin-top : 10px;
}
.feedinfo ul{
	list-style : none;
	padding : 0;
	margin : 15px 0 0 0;
	line-height : 200%;
}
.feedinfo .feedlist{
	margin : 0;
	line-height : 150%;
}
.feedinfo .feedlist li{
	padding-bottom : 10px;
}
.feedlist .feedlink{
	color : #888888;
	text-decoration : none;
}
.feedinfo dt{
	clear : left;
	width : 200px;
}
.feedinfo dt, .feedinfo dd{
	float : left;
}

.subscribers{
	clear: left;
	margin : 0 20px;
	border-top: 1px dashed #ccc;
	font-size: 90%;
	padding: 10px 0;
}

.subscribers ul{
	list-style: none;
	margin : 0;
	padding : 0;
	line-height : 150%;
}
.channel{
	margin-top : 0px;
	margin-right : 0px;
	padding : 0px;
}

.feed_info{
	float: left;
	margin-left:  20px;
}
.feed_info h3{
	background-color: #fff;
}
.feed_image{
	float: left;
	text-align: center;
	width: 215px;
	height: 220px;
	/* border: 1px solid #000; */
}

.screenshot{
	margin : 10px auto;
}
.screenshot img{
	border : 1px solid #888;
	border-color : #ccc #888 #888 #ccc;
}
.screenshot a{
	display : block;
	border : 0px solid #000;
	padding : 0px 4px 4px 0px;
	background-image: url("/img/shadow.gif");
	background-repeat : no-repeat;
	background-position : 100% 100%;
}

.screenshot{
	margin : 1px;
	float : right;
}

.subscribe_button{
	padding-top: 10px;
	clear: right;
}
.subscribe_button a{
	margin-left : 10px;
	background-image : url("/img/icon/add.gif");
	background-repeat : no-repeat;
	padding-left : 20px;
	font-size : 12px;
	background-position : 0px 3px;
	padding: 3px 0 3px 20px;
}
.subscribe_link{
	font-size: 12px;
}

.subscribers .odd,
.subscribers .even {
	background-color: transparent;
}
.subscribers ul{
	margin : 10px 0 0 10px;
}
.subscribers li{
	min-height: 26px;
	padding : 3px 5px;
	line-height: 1;
}

.subscribers dt{
	float: left;
	min-width: 10em;
}
.subscribers dt a{
	font-size : 120%;
	font-weight : bold;
	text-decoration : none;
}
.subscribers dd{
	float: left;
	display: block;
	margin : 0;
	padding: 0 4px 0 10px;
	color : #222;
}




/* user */
a.subscribe{
	background-image : url("/img/icon/add.gif");
	background-repeat : no-repeat;
	padding-left : 20px;
	font-size : 12px;
	background-position : 0px 3px;
	padding: 3px 0 3px 20px;
}
.recent_subscribed{
	margin: 20px;
	border-top: 1px dashed #ccc;
}
.recent_subscribed a.title{
	background-repeat : no-repeat;
	padding-left : 20px;
}
.page_user ul{
	margin : 0;
	padding : 0;
	list-style : none;
}
.page_user li {
	margin-bottom : 0px;
	/* for IE6 bug */
	height: 1%;
}
.page_user li .date{
	color : #666;
}

.user_stats{
	margin: 10px 20px;
	font-size: 90%;
}

.link_rss{
	padding-top: 10px;
}
.link_rss img{
	border : none;
}
.link_rss li{
	padding-top: 10px;
	margin: 0;
	line-height: 1;
}

.user .screenshot{
	margin : 1px;
	float : right;
}


.user .screenshot img{
	border : 1px solid #888;
	border-color : #ccc #888 #888 #ccc;
}
.user .screenshot a{
	display : block;
	border : 0px solid #000;
	padding : 0px 4px 4px 0px;
	background-image: url("/img/shadow.gif");
	background-repeat : no-repeat;
	background-position : 100% 100%;
}
.recent_feeds li{
	padding : 10px;
}

.user_info ul.recent_feeds{
	margin: 10px 0;
}
.page_user ul.info li{
	display: inline;
	padding: 0;
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}
ul.info li.date{
	margin-left: 0;
	padding-left: 0;
	border: none;
}
.page_user li.odd{
	background : #F5F5F5;
}
.page_user li.even{
	background : #fff;
}
.page_user .title, .page_user .description{
	font-size : 90%;
}
.recent_subscribed .info{
	font-size : 80%;
	line-height : 1.5;
}
.page_user .subs_edit{
	width : 60px;
}

.navi {
	text-align: left;
	position: relative;
}
.navi .logo{
	padding: 10px;
	margin-left: 15px;
}
.navi .logo a{
	display: block;
	background-image: url("/img/logo.gif");
	width: 212px;
	height: 39px;
	background-repeat: no-repeat;
	text-indent: -10000px;
}

.about .subscribers_count,
.about .avg_rate{
	display: inline;
}
.about .avg_rate{
	border-left : 1px solid #ccc;
	padding-left: 5px;
	margin-left:  5px;
}

.navi {
	font-family: sans-serif;
}
.navi ul{
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 3px;
	font-size:  14px;
}
.navi li{
	display: inline;
	margin-left: 4px;
	padding-left: 4px;
	border-left: 1px solid #888;
}
.navi li:first-child{
	border: none;
}

/* subscribe  */
body.subscribe .content{
	text-align: left;
}
body.subscribe .subscribe_list{
	background-repeat: no-repeat;
	padding-left: 22px;
}


.subscribe #container{
	text-align: left;
}

/* Subscribe page */

.page_subscribe .feedlink{
	font-size : 80%;
	color : #888 !important;
}

.page_subscribe{
	text-align : left;
	margin : 0;
	padding : 0;
}
.subscribe_candidates h3{
	display: none;
}
.subscribe_option h3{
	display : none;
}



.page_subscribe .submit_button{
	width : 100px;
	margin-left : 20px;
	margin-right : 10px;
	line-height : 120%;
	font-size : 12px;
}
.page_subscribe .loading_button{
	border : 1px solid #e0e0e0;
	border-color : gray white white gray;
	background : #eee;
	background-image: url("/img/icon/circle.gif");
	background-position : 4px 50%;
	background-repeat : no-repeat;
}
.page_subscribe .submit{
	width : 100%;
	margin-bottom : 0px;
	padding-bottom : 20px;
}
.page_subscribe #registerbox{
	background-image : none;
}
.subscribe_help{
	margin-top: 30px;
	text-align : left;
	padding : 8px 0 8px 10px;
	font-size : 1em;
}
.subscribe_help h3{
	padding : 0 10px;
	margin-right: 5px;
	display : inline;
	font-size : 100%;
}
.subscribe_help p{
	display : inline;
	font-size: 0.8em;
	line-height : 150%;
}
.subscribe_candidates{
	background: #fff;
	border: 1px solid #eee;
	border-bottom: none;
	margin: 10px;
	margin-bottom : 0px;
}

.subscribe_candidates button{
	width : 100px;
	margin : 0 10px;
	text-align : center;
}
.subscribe_option{
	font-size : 90%;
	margin : 15px 0px 0px 0px;
}
.subscribe_option th,
.subscribe_option td{
	font-size : 90%;
	line-height : 200%;
}
.subscribe_option table{
	margin : 0px 20px 10px 20px;
}
.subscribe_option th{
	width : 100px;
	font-weight : bold;
	text-align : left;
}
.page_subscribe .list{
	padding : 10px;
	font-size : 90%;
	line-height : 150%;
	border-bottom : 1px dashed #ccc;
}
.subscribe_candidates .selected{
	background : #FFFFCC;
}
.subscribe_candidates ul{
	list-style : none;
}
.page_subscribe .subs_delete{
	line-height : 120%;
	margin : 0 0 0 5px;
	padding : 0;
	font-size : 12px;
}
.page_subscribe .subscribe_list{
	padding-left : 20px;
	background-repeat : no-repeat;
}
.page_user .subscribed,
.page_subscribe .subscribed{
	color : #f00;
}
.page_subscribe .subscriber_count{
	color: #717578;
}
.page_subscribe a:link.feedlink,
.page_subscribe a:visited.feedlink{
	color : black;
	text-decoration : none;
}

/* Quick subs edit */
.subs_edit{
	line-height : 120%;
	margin : 0 0 0 5px;
	padding : 0;
	font-size : 12px;
	width : 100px;
	text-align : center;
}

.toggle-on{
	border : 1px solid #e0e0e0;
	border-color : gray white white gray;
	background : #eee;
}

#subs_edit_window form{
	margin : 0;
}
#subs_edit_window table{
	margin : 5px 10px;
}
#subs_edit_window .buttons{
	margin-top : 5px;
	padding : 10px;
	border-top : 1px solid #888;
	text-align : left;
}
#subs_edit_window .subs_edit_cancel{
	float : right;
	line-height : 200%;
	cursor : pointer;
	color : #003492;
}
#subs_edit_window .subs_edit_save{
	width : 100px;
	line-height : 120%;
	padding : 0;
	font-size : 12px;
}

#subs_edit_window{
	padding : 0px !important;
	border-width : 1px !important;
	border-color : gray !important;
	background : #fff !important;
}



.share{
	text-align : left;
	margin-bottom : 30px;
}
.share_body{
	margin : 0px 10px;
	/* border : 5px solid #E4F2FE;*/
	padding : 0px 0px 20px 0;
}
.share h2{
	margin : 25px 0 5px 10px;
	border : none;
}
.share h3{
	font-size : 100%;
	margin : 10px;
	padding-bottom : 3px;
	padding-left : 5px;
	border-bottom : 1px solid #ccc;
}
.share .mspace table{
	width : 95%;
	border : 1px solid #ccc;
	background : #fff;
}
.share .mspace th{
	text-align : left;
	background : #f5f5f5;
	border-bottom : 1px solid #ccc;
}
.share .mspace td{
	background : #fff;
	padding : 0 !important;
	width : 50%;
}
.share .mspace div{
	overflow : auto;
	height : 120px;
	padding : 0px;
	font-size : 120%;
	line-height : 120%;
}
.share select{
	font-size : 90%;
	font-family : Osaka;
}
.share table{
	font-size : 80%;
	border : none;
}
.share td{
	padding : 3px;
}
.share th{
	font-size : 100%;
	font-weight : normal;
	padding : 5px 4px;
	background : #E4F2FE;
	color : #444;
}
.share .status{
	margin : 15px 30px;
	font-size : 90%;
}
.share .status ul{
	display : inline;
	margin : 10px;
	padding : 0;
	list-style : none;
}
.share .status li{
	display : inline;
	border-left : 1px solid #999;
	padding : 0 10px;
}
.share tr.secret{
	background : #ffc;
}
.share .check_cell{
	padding : 0 !important;
}
.share .check{
	padding : 6px 4px 6px 7px;
}
.share tr.selected .check{
	border-left : 4px solid #1F70FF !important;
	padding-left : 3px;
}
.share form{
	margin : 5px;
}
.share .search_form{
	margin : 0;
	padding : 10px 0;
	background : #E4F2FE;
}
.share .search_form td{
	padding : 3px 10px;
	border-bottom : 1px solid #888;
	border : none;
}
.share .query_sample{
	text-decoration : underline;
	color : #000;
	cursor : pointer;
}
.share #set_public_progress{
	display : none;
	margin-left : 10px;
	padding : 5px 30px;
	background-image : url("/img/icon/loading.gif");
	background-position : 0px 50%;
	background-repeat : no-repeat;
}

.share #filtered_subs {
	padding : 10px;
}
.share #filtered_subs table{
	border : 1px solid #666;
}
.share #filtered_subs th{
	text-align : left;
}
.share #show_all{
	display:  none;
	text-align : right;
	cursor : pointer;
	text-decoration : underline;
	font-size : 80%;
	color : #003492;
	padding-right : 20px;
}
.share #result{
	width : 95%;
	border-collapse : collapse;
	border : none;
}
.share button{
	line-height : 120%;
	margin : 0 0 0 5px;
	padding : 0;
	font-size : 12px;
}
.share .buttons{
	font-size : 90%;
	margin : 10px 0 0 10px;
}
.share .title_cell{
	padding-left : 24px !important;
	background-repeat : no-repeat;
	background-position : 0px 8px;
}
.share .buttons button{
	margin-left : 10px;
}
.share .loading{
	text-align : center;
	background : #ffffcc;
	padding : 1em 0;
	margin : 1em 0;
	font-weight : bold;
}
#result td{
	border-top : 1px solid #999;
	border-bottom : 1px solid #999;
	padding : 6px 4px;
}


/* Import  */

.importbox{
	margin : 0 15px;
	font-family: sans-serif;
	font-size: 90%;
}
.importbox ul{
	margin : 15px;
}
.importbox li {
	list-style: none;
}

/* Bookmarklet */
.bookmarklet {
	padding: 20px 20px 20px 20px;
}
.bookmarklet em{
	font-style: normal;
	font-weight: bold;
	color: red;
}
.bookmarklet .sub-content{
	background: #ebf1f8;
	width : 600px;
	margin : 20px;
	padding : 20px;
}
.bookmarklet .sub-content img{
	margin : 20px 0;
}
#bmicon a{
	margin: 5px 20px 5px 0px;
}
#bmicon img{
	border: none;
	margin: 0;
}
#bmicon {
	margin : 10px 0;
}
.bookmarklet .sub-content p{
	margin: 0 !important;
	padding: 0;
}

/* help */
/*body.help ul,
body.help ol{
	padding : 20px;
	margin: 5px 20px !important;
}*/


#helpbox{
	padding:30px 25px;
}
/*#helpbox p
,#helpbox ul
,#helpbox li{
	padding:0px;
	margin:0px;
	line-height:100%;
}*/
#helpbox h2
,#helpbox h3{
	padding:0px;
	margin:0px;
}
#helpbox h2{
	font-size:160%;
}
#helpbox h2.no-maindesc{
	margin-bottom:45px;
}
#helpbox h3{
	font-size:100%;
}
#helpbox h3.subtitle{
	font-size:160%;
	margin-bottom:20px;
}
#helpbox #maindesc{
	margin:25px 0px 40px;
	line-height:1.4em;
}
#helpbox p.textonly{
	margin:15px 0px 30px;
	line-height:1.4em;
}
#helpbox ul.listonly
,#helpbox ol.listonly{
	margin:15px 0px 30px 15px;
}
#helpbox ol.listonly{
	margin:15px 0px 30px 20px;
}
#helpbox ul.listonly li
,#helpbox ol.listonly li{
	line-height:1.4em;
}
#helpbox div.complex{
	margin:15px 0px 30px;
}
#helpbox div.complex p.text-up
,#helpbox div.complex p.text-btm
,#helpbox div.complex ul li
,#helpbox div.complex ol li{
	line-height:1.4em;
}
#helpbox div.complex p.text-up{
	margin-bottom:15px;
}
#helpbox div.complex ul
,#helpbox div.complex ol{
	margin-left:15px;
}
#helpbox div.complex ol{
	margin-left:20px;
}
#helpbox div.complex p.text-btm{
	margin-top:15px;
}
#helpbox p.update{
	margin-top:20px;
	line-height:1.4em;
}
.about-content{
	margin-bottom:30px;
}
.about-content h4{
	font-size:120%;
	color:#016afc;
	padding-left:26px;
	line-height:21px;
	background:url(/img/static/about/face.gif) no-repeat 0 50%;
	margin-bottom:10px;
}
.about-content div.text{
	float:left;
	margin:0px 220px 0px 0px;
	padding-left:26px;
	line-height:1.4em;
}
.about-content div.text ul{
	margin:20px 0px 20px 20px;
}
.about-content div.text ul li{	
	line-height:1.4em;
}
.about-content div.img{
	width:200px;
	float:right;
	margin:0px 0px 0px -220px;
}
